{% extends "layout/main.layout.twig" %}


{% block content %}
<div class="notfound-content">
    <div class="notfound-img-holder">
        <img src="/img/404.png" />
        <p class="notfound-text">{{ T.notfound }}</p>
        <div>
            <a class="mainp-btn" href="/{{ lang }}">{{ T.mainpage|upper }}</a>
        </div>
    </div>
</div>
{% endblock %}

