{% extends "layout/main.twig" %}


{% block content %}

    <div class="main wrapper clearfix">
    
        <div class="banner">
            <img src="/img/banner1.png" />
        </div>
        
        <div class="middle-content">
            <div class="m-row">
            <div class="m1 m-item">
                <img src="/img/m1.png" />
                <div class="m-badget mb1">
                    <div class="goto">
                        <a href="#">KONFEKSİYON</a> <br />
                        <a href="#" class="detail">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
            <div class="m-item m2">
                <img src="/img/m2.png" />
                <div class="m-badget mb2">
                    <div class="goto">
                        <a href="#">BASKI</a> <br />
                        <a href="#" class="detail">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
            <div class="m-item m3">
                <img src="/img/m3.png" />
                <div class="m-badget mb3">
                    <div class="goto">
                        <a href="#">ÖRME</a> <br />
                        <a href="#" class="detail">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
            <div class="m-item m4">
                <img src="/img/m4.png" />
                <div class="m-badget mb4">
                    <div class="goto">
                        <a href="#">NAKIŞ</a> <br />
                        <a href="#" class="detail">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
            <div class="m-item m5">
                <img src="/img/m5.png" />
                <div class="m-badget mb5">
                    <div class="goto">
                        <a href="#">YIKAMA</a> <br />
                        <a href="#" class="detail">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
        </div>
            
            <div class="m-row mt30">
                <div class="extra-content">
                    <img class="company-present-img" src="/img/m_company.png" />
                    <div  class="company-info">

                        <h2>R & E TEKS</h2>

                        <h3>DENEYİM, ESTETİK, YAKLAŞIM</h3>

                        <p>25 yılı aşkın bilgi birikimi ile 2004 yılında kurulan R&E Teks 7 yıl gibi kısa bir sürede dev bir şirket haline geldi. Örme giyim alanında uzmanlık sahibi olan R&E Teks, R1(Mahmutbey) ve R2 (Düzce) fabrikaları olarak 2 ayrı noktada ve toplamda  600 çalışanıyla aylık 600.00 bin adet üretim gerçekleştirmektedir.</p>
                   
                        <div class="btn-holder"><a class="btn-devam" href="#"></a></div>
                   </div>
                </div>
            </div>
        </div>

        <div class="middle-right">
            
            <div class="right-col news">
                <div class="r-header">Haberler</div>
                <span class="arrows"></span>
                <label>01.03.2014</label>
                <h4>RE GRUP BAŞKANI TUSKON'U ZİYARET ETTİ</h4>
                <p>Türkiye İşadamları ve Sanayiciler Konfederasyonu (TUSKON) tarafından...</p>
            </div>
        
            <div class="right-col">
                <img src="../img/video_preview.png" />
            </div>
            
            <div class="right-col">
                <img src="../img/ebulten.png" />
            </div>
        </div>

    </div> <!-- #main -->

{% endblock %}
