<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-type" value="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Paneli</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/admin">
                        <img src="/img/logo.png" style="height: 50px;" />
                    </a>
                </li>
                <li>
                    <a href="/admin/category" {% if menu_item == 'category' %}class="active"{% endif %}>Kategoriler</a>
                </li>
                <li>
                    <a href="/admin/page" {% if menu_item == 'page' %}class="active"{% endif %}>Sayfalar</a>
                </li>
                <li>
                    <a href="/admin/news" {% if menu_item == 'news' %}class="active"{% endif %}>Haberler</a>
                </li>
                <!--li>
                    <a href="/admin/setting" {% if menu_item == 'setting' %}class="active"{% endif %}>Ayarlar</a>
                </li-->
                <li>
                    <a href="/logout">Çıkış</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    
                        {% for type,message in flash %}
                            <div class="alert alert-{{ type }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    
                    
                        {% block content %}{% endblock %}
                        <!--a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/vendor/jquery/jquery-1.11.2.min.js"></script>
    
    <!-- Moment.js -->
    <script src="/js/vendor/moment/moment.js"></script>
    <script src="/js/vendor/moment/moment.locale.tr.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vendor/bootstrap/bootstrap-datetimepicker.min.js"></script>
    
    {% for asset in footer_js %}
    <script src="/js/{{ asset }}"></script>
    {% endfor %}

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
