<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Reteks Kullanıcı Girişi</title>
<meta name="description" content="">
<meta name="author" content="Reteks">
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<script type="text/javascript" src="/js/vendor/jquery/jquery-1.11.2.min.js"></script>
<script src="/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>