/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family : 'Ubuntu', sans-serif;
}
    
a {
}
a:link,a:active,a:visited, a:hover {
    color: #111;
    text-decoration: none;
}
 
a:active {
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.input-err {
  border: solid 1px #f22 !important;
  box-shadow: 0 0 5px 1px #C66 !important;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.wrapper {
    width: 1060px;
    margin: 0 auto;
}


.header-container {
    background: #ffffff;
    margin-bottom: 35px;
    border-top: solid 5px;
    border-color: #e20a16;
}

header, nav {
    height: 150px;
}

.header-container .logo {
    float: left;
    width: 110px;
    height: 110px;
    margin-top: 40px;
}

    .logo a {
        background: url(../img/logo.png) no-repeat; 
        display: inline-block;
        width: 100%;
        height: 100%;
    }

.header-container .site-tools {
    float: right;
    margin-top: 20px;
}

    .social-hub, .search-hub, .langs-hub {
        float: left;
    }
    
    .social-hub {
        margin-top: 6px;
    }
    
    .search-hub {
        margin: 0px 20px;
    }

    .search-input {
        width: 230px;
    }
    
    .selectize-control.single .selectize-input:after,
    .selectize-control.single .selectize-input.dropdown-active:after {
        border: none;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        background: url(../img/icon_search.png) no-repeat;;
    }
    
    .search-input .selectize-dropdown {
        z-index: 99;
    }

nav {
    
}

nav ul.menu {
    float: right;
    
    width: 925px;
    margin: 20px 0 0 0;
    padding: 0px;
    
    height: 40px;
}

nav ul.menu li {
    float: left;
    list-style: none;
    width: 14%;
    
    margin: 0px 3px;
    
    font-size: 15px;
    color: #111;
    font-weight: bold;
    line-height: 1.4em;
    
    border-bottom: 5px solid;
    
    text-align: center;
    
    padding: 16px 0;
    

}

    .menu li.ml1 {
        border-color: #068d84;
        width: 114px;
        margin-left: 0px;
    }
    .menu li.ml1.active {
        background: #068d84;
    }
    .menu li.ml2 {
        border-color: #e20a16;
        width: 130px;
    }
    .menu li.ml2.active {
        background: #e20a16;
    }
    .menu li.ml3 {
        border-color: #c3bcbc;
        width: 115px;
    }
    .menu li.ml3.active {
        background: #c3bcbc;
    }
    .menu li.ml4 {
        border-color: #0a86e6;
        width: 200px;
    }
    .menu li.ml4.active {
        background: #0a86e6;
    }
    .menu li.ml5 {
        border-color: #7d47c7;
        width: 135px;
    }
    .menu li.ml5.active {
        background: #7d47c7;
    }
    .menu li.ml6 {
        border-color: #fdb709;
        width: 80px;
    }
    .menu li.ml6.active {
        background: #fdb709;
    }
    .menu li.ml7 {
        border-color: #f7605b;
        width: 98px;
        margin-right: 0px;
    }
    .menu li.ml7.active {
        background: #f7605b;
    }
    
    .menu .active a {
        color: #FFF !important;
    }






/* Main Area */

.main-banner { position: relative; overflow: auto;  }
.main-banner ul { margin: 0px; padding: 0px; }
    .main-banner li { list-style: none; }
        .main-banner ul li { float: left; }
        
            .banner-inner {
                position: relative;
            }
            
            .banner-text {
                    width: 500px;
                  font-size: 56px;
                  font-family: "Ubuntu";
                  color: rgb(245, 245, 245);
                  line-height: 1.032;
                  text-align: left;
                  text-shadow: 0px 5px 73px rgba(0, 1, 1, 0.75);
                  position: absolute;
                  left: 80px;
                  top: 130px;
                  z-index: 999;
                }
        
        .slidesjs-pagination {
            position: absolute;
            top: 310px;
            left: 80px;
            z-index: 999;
        }
        
        .slidesjs-pagination li {
        
          margin-right: 10px;
        }
        
        .slidesjs-pagination a {
        
          font-size: 22px;
          color: rgb(245, 245, 245);
          font-weight: bold;
          line-height: 2.909;
          padding-bottom: 5px;
        }
        .slidesjs-pagination a:before {
        
          content: '0';
        }
        .slidesjs-pagination a.active {
        
          border-bottom: 4px solid #fff;
        }
        


.main-container, .footer-container {
    
    background: #e9e9e9;
}


.main .banner {
    margin-bottom: 20px;
    position: relative;
}


    .banner-txt {
        position: absolute;
        background: url(../img/diagonal_banner_bg.png) no-repeat;
        top:14px;
        left: 16px;
        z-index: 10;
        min-width: 330px;
        min-height: 210px;
    }

    .banner-caption {
        font-size: 62px;
        color: rgb(245, 245, 245);
        text-transform: uppercase;
        line-height: 1;
        text-align: right;
        text-shadow: 0px 5px 73px rgba(0, 1, 1, 0.75);
        margin-left: 10px;
        margin-top: 84px;
        float: left;
    }
    
    .banner-caption-sub {
        font-size: 42px;
        color: rgb(245, 245, 245);
        text-shadow: 0px 5px 73px rgba(0, 1, 1, 0.75);
        float: right;
    }
    



.middle-content, middle-right, .news-content {
    margin-bottom: 30px;
}

.middle-content {
    float : left;
    width: 755px;
}

.middle-content .m-row {

    float: left;
}

    .m-item {
        position: relative;
        float: left;
        margin-right: 20px;
        margin-bottom: 60px;
        width: 135px;
    }

    .m-badget {
        position: absolute;

        width: 115px;
        height: 130px;

        bottom: -60px;
        left: 0px;
    }
    
    .m-badget .goto {
        position: absolute;
        margin-top: 50px;
        margin-left: 10px;
        z-index:1;
    }
    
    .m-badget:before {
        background-color: rgba(255,0,0,0.2);
        position: absolute;
        content:" ";
        top:0;
        left:0;
        width:100%;
        height:100%;
        display: none;
        z-index:0;
    }
    
    .m-badget:hover:before{
      display: block;
    }
    
    
    
    .goto a {
        color: #fff;
        line-height: 1.1em;
        font-weight: bold;
        font-size: 14px;
    }
    .goto a.detail {
        background: url(../img/right_arrow.png) right center no-repeat;
        font-size: 13px;
        font-weight: normal;
        padding-right: 20px;
    }

    .m5 {
        margin-right: 0px;
    }

    .mb1 {
        background: #7d47c7;
    }

    .mb2 {
        background: #16a6dd;
    }

    .mb3 {
        background: #ffb400;
    }

    .mb4 {
        background: #f7605b;
    }

    .mb5 {
        background: #219e95;
    }
    

.extra-content {
    float: left;
    background: url(../img/m_company_bg.png) right  no-repeat;
    padding-bottom: 30px;
}
    .company-present-img {
        
        float: left;
        width: 40%;
        height: 250px;
    }
        
    .company-info {
        float: left;
        width: 60%;
        padding: 0px;
        margin: 0px;
    }
    
    .company-info p, 
    .company-info h2, 
    .company-info h3 {

        font-size: 14px;
        padding: 0px 5px 0px 20px;
    }
    
    
    
    .company-info h2 {

        font-size: 15px;
        font-weight: bold;
        line-height: 1.6em;
        color: #e20a16;
        margin: 0px;
        margin-top: 20px;
    }
    
    .company-info h3 {
        font-size: 14px;
        line-height: 1.7em;
        color: #222;
        margin : 0px;
    }
    
    
    .company-info p {
        font-size: 13px;
        color: rgb(37, 37, 37);
        line-height: 1.7em;
    }

    .btn-holder {
        margin-top: 20px;
        margin-left: 20px;
        
        width: 110px;
        height: 40px;
        
        background: url(../img/btn_devam.png) no-repeat;
    }

    a.btn-devam {
        float: left;
        padding-left: 16px;
        width: 94px;
        
        line-height: 40px;
        
        font-size: 14px;
        color: #fff;
        font-weight: bold;
    }
    
    
    

.middle-right {
    float :right;

    width: 285px;
    margin-left: 20px;
}

    .right-col {
        
        margin-bottom: 20px;
    }
    
    .news {
        position: relative;
        background: #fff;
        height: 180px;
        padding: 25px 5px 5px 25px;
    }
    .news .r-header {
        font-size: 16px;
        color: #e20a16;
        font-weight: bold;
        line-height: 1.5;
        margin: 0px;
        margin-bottom: 20px;
    }
    
    .news label {
        font-size: 12px;
        color: rgb(148, 148, 148);
        line-height: 1.9em;
    }
    
    .news h4 {
        font-size: 14px;
        color: rgb(37, 37, 37);
        font-weight: bold;
        line-height: 1.5em;
        margin: 0px;   
    }
    
    .news p {
        font-size: 14px;
        color: rgb(37, 37, 37);
        line-height: 1.5em;
        margin: 10px 0;
    }
    
    .news .arrows-up {
        position: absolute;
        right: 20px;
        top: 20px;
        display: inline-block;;
        background: url(../img/arrows.png) 0px 0px no-repeat;
        width: 30px;
        height: 27px;
        background-size: 90%;
        cursor: pointer;
    }
    .news .arrows-down {
        position: absolute;
        right: 20px;
        top: 50px;
        display: inline-block;;
        background: url(../img/arrows.png) 0px 100% no-repeat;
        width: 30px;
        height: 27px;
        background-size: 90%;
        cursor: pointer;
    }
    
    
    
    .ebulten {
        height: 130px;
        padding: 0px;
        background: #E20A16;
    }
    
    .ebulten .ebulten-inner {
        padding: 20px;
    }
 
 
    .ebulten-title {
      font-size: 15px;
      color: #F5F5F5;
      font-weight: bold;
      margin: 5px 0;
      padding: 0px;
    }
    
    .ebulten-text {
        font-size: 13px;
        color: #F5F5F5;
        margin-bottom: 10px;
    }
    
    .ebulten-input {
        padding: 11px;
        width: 137px;
        font-size: 13px;
        border: none;
        margin-right: 10px;
    }
    
    .right-col .ebulten-btn {
        float: right;
        font-size: 12px;
        color: #E20A16;
        font-weight: bold;
        width: 55px;
        padding: 10px;
        display: inline-block;
        background: #fff url(../img/br_arrow.gif) no-repeat 60px center;
    }
    
 
 /********* GALERİ : BAŞLA ********/
 
.gallery-outer {
    height: 320px;
    overflow: hidden;
    margin-top: 50px;
    padding: 0;
} 
    .g-item {
        
        float: left;
    }
    
    .g-item img {
        width: 100%;
        height: 100%;
    }
    
    .g1 {
        width: 270px;
        margin-right: 20px;
    }
    
    .g2 {
        height: 170px;
        width: 190px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .g3 {
        height: 170px;
        width: 190px;
        margin-bottom: 20px;
    }
    
    .g4 {
        width: 400px;
        height: 200px;
    }

 
 
 /********* GALERİ : BİTİR ********/
 
 
 
 /* Inner Pages */
 .page-content {
    background: #FFF;
    min-height: 400px;
    padding: 30px 30px 100px 30px;
 }
 
 .page-title {
    font-size: 20px;
    font-family: "Ubuntu";
    color: rgb(226, 10, 22);
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
 }
 
    .breadjump {
        font-size: 12px;
        margin-top:7px;
        color: rgb(36, 35, 38);
        line-height: 0.5;
    }
    
    .breadjump .current {
        color: #E20A16;
    }
    
    
     .page-text {
          font-size: 14px;
          color: #222;
          line-height: 1.7;
    }
    
    .page-list {
        margin-left: 0;
        padding: 0;
        height: auto !important;
    }
    
    .page-list ul {
        margin: 0px;
        padding: 0px;
    }
    
    .page-list ul li {
        list-style-image:url("../img/rarrow_list.png");
        list-style-position: inside;
        font-size: 15px;
        line-height: 1;
        padding: 15px 0;
        padding-left: 24px;
    }
    
    .page-list ul li a {
        color: #222;
        margin-left: 6px;
    }
    
    .page-list ul li.s-cpage a {
        color: #fff;
    }
    
    .page-list ul li.s-cpage {
        background: #e20a16;
        color: #fff;
        list-style-image:url("../img/rarrow_list_current.png");        
    }
    
    
    
/* Newspage */

.news-content {
    
    
    background: #fff;
    padding: 30px;
    min-height: 300px;
}

    ul.news-list {
        margin : 20px 0px;
        padding: 0px;
    }

    ul.news-list li {
        list-style: none;
        width: 100%;
        float: left;
    }
    
    .news-item-arrow {
    
        float: left;
    }
    
    .news-item {
        float:left;
        padding-left: 10px;
        width: 90%;
    }
    
    .news-list h4 {
        font-size: 14px;
        color: #222;
        font-weight: bold;
        line-height: 1.5;
        margin: 0px;
    }
    
    .news-date {
      font-size: 12px;
      color: #999;
      line-height: 1.9;
    }
    
    .news-list p {
      font-size: 14px;
      line-height: 1.5;
    }
    
    
    
    
    .news-detail {
        margin-top: 30px;
        min-height: 500px;
    }
    
    .news-detail-title {
        
    }
    
    .news-detail-image {
        float: left;
        width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .news-text {

      font-size: 14px;
      line-height: 1.7;
        
    }
    
    
    
/* Contact */

.contact-info{
  font-size: 14px;
  margin-top: 20px;
}
    
    .contact-text {
        margin-bottom: 20px;
        float: left;
    }
    
    .c-title {
        font-size: 14px;
        margin-top: 40px;
    }
    
    .c-address{
        float: left;
        width: 100%;
        padding-left: 20px;
        background: url(../img/c_address.png) left no-repeat;
        margin-bottom: 10px;
    }
    
    
    .c-tel {
        float: left;
        
        padding-left: 20px;
        background: url(../img/c_tel.png) left no-repeat;
        width: 40%;
    }
    
    .c-fax {
        float: left;
        
        padding-left: 20px;
        background: url(../img/c_fax.png) left no-repeat;
        
        width: 40%;
    }
    
    .c-map {
        margin-top: 20px;
    }
    
    
.contact-form {
    padding-top: 40px;
    padding-bottom: 40px;
}

    .form-row {
        margin-bottom: 20px;
    }

    .form-row label{
      font-size: 14px;
      line-height: 1.571;
    }
    

    .form-item {
        font-size: 16px;
        border-style: solid;
        padding: 12px;
        border-width: 1px;
        border-color: #dedede;
        color: #222222;
        width: 96%;
    }
    
    .form-required {
          font-size: 12px;
          color: rgba(216, 12, 12, 0.502);
          color: rgba(216, 12, 12);
          line-height: 1.8;
        }
    
    .form-btn {
        background: #D80C0C;
        padding: 8px 22px;
        color: #fff;
        float: right;
        border: none;
        font-size: 16px;
    }
    
   
.position-list {
    padding: 0px;
    padding-bottom: 20px;
    margin-top: 40px;
    border-bottom: thin solid #ebebeb;
}

    .position-list li {
        list-style:  none;
        position: relative;
    }

    .position-text  {
      font-size: 15px;
      font-family: "Ubuntu";
      color: rgb(36, 35, 38);
      line-height: 1.467;
    }
    
    .position-firm {
      font-size: 14px;
      font-family: "Ubuntu";
      color: rgb(36, 35, 38);
      line-height: 1.571;
    }

    .position-list a.position-detail-btn {
      font-size: 13px;
      font-family: "Ubuntu";
      color: rgba(36, 35, 38, 0.6);
      text-decoration: underline;
      line-height: 1.692;
    }
    
    .position-list a.position-btn {
        position: absolute;
        right : 20px;
        top: 30px;
        background: #e20a16;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
    }
    
    .position-detail {
        display: none;
    }

 
    
    
/********* Careeeeeeer *********/
.career-form {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-row.half {
    width: 46%;
    display: inline-block;
}
.form-row.left {
    padding-right: 3%;
}
.form-row.right {
    padding-left: 3%;
}


.form-row .form-item.half {
    padding: 3%;
}

.form-row select.form-item {
    padding: 9px;
    width:100%;
}

.form-row select.form-item.third {
    width: 30%;
}


.section {
    margin: 10px 0;
}

    .section-header {
        position: relative;
        background-color: rgb(226, 10, 22);
        padding: 12px 20px;
        margin-bottom: 10px;
    }
    
    .section-title {
        padding: 0px;
        margin: 0px;
        font-size: 15px;
        color: #fff;
    }
    
    .sub-title {
        background-color: rgb(237, 237, 237);
        margin: 10px 0;
        padding: 6px 20px;
        font-size: 14px;
        color: rgb(23, 26, 28);
        font-weight: bold;
    }
    
    .new-language {
        float: right;
        font-size: 13px;
        font-weight: normal;
        padding-left: 25px;
        background: url(../img/plus_icon.png) left top no-repeat;
    }
    
    
    .career-form  .section-title:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: #fff transparent transparent transparent;
    }
    
    

/********* 404 ********/
.notfound-content {
    text-align: center;
    background: #fff url(../img/404_bg.png) 25% 20px no-repeat;
    padding: 50px 30px;
    min-height: 300px;
    padding-bottom: 200px;
}

    .notfound-img-holder {
        width: 550px;
        margin: auto;
        padding: 50px;
    }
    
    notfound-img-holder img {
        width: 100%;
    }
    
    .notfound-text {
      font-size: 36px;
      color: rgb(34, 33, 36);
      font-weight: bold;
      text-align: center;
    }
    
    a.mainp-btn {
        background: #e20a16;
        padding: 20px 30px;
        font-size: 15px;
        font-family: "Ubuntu";
        color: #fff;
        font-weight: bold;
        line-height: 1.4;
    }
    
    
    
footer {
    background: #666;
    height: 70px;
}

    .copyright {
        padding: 30px 20px 0 20px;
        font-size: 14px;
        color: #fff;
        line-height: 1.5em;
        text-align: left;
        float: left;
    }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.mt30 {margin-top: 30px;}

.f-right {float: right;}
.f-left {float: left;}

/* ==========================================================================
   Form styles
   ========================================================================== */
   
/*** radio ***/
input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=radio].css-checkbox+label.css-label {
    padding-left: 25px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 40px;
}
label.css-label:last-child {
    margin-right: 0px !important;
}

input[type=radio].css-checkbox:checked+label.css-label {
    background-position: 0 -16px;
}

label.css-label {
    background-image:
        url(http://csscheckbox.com/checkboxes/u/csscheckbox_f945a072ebe51ddf7bc28f91d6899e2e.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*** select ***/

.styled-select select {


  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/select_arrow.png) right 15% no-repeat;
   }
   
   @media screen and (min-width: 0\0) {
  .styled-select select {
    background: none;
    padding: 5px;
  }
}
   
   .styled-select {

   }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}