{% extends "layout/main.layout.twig" %}


{% block content %}

    <div class="main wrapper clearfix">
    
        
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>

    </div> <!-- #main -->

{% endblock %}
