<div class="breadjump">

<a href="/{{ lang }}">Anasayfa</a>

{% for idx,step in breadjump  %}
   <img src="/img/br_arrow.gif" /> <a {% if idx+1 == breadjump|length %}class="current"{% endif %} href="{{ step.link }}">{{ step.name }}</a>
{% endfor %}
</div>