<div class="page-text">    
    <div class="application-steps">
        <div class="appstep form"><a href="?s=form">{{ T.career_cv_form }}</a></div>
        <div class="appstep app"><a href="?s=app">{{ T.career_application_form }}</a></div>
    </div>
</div>