<div class="header-container">
    <header class="wrapper clearfix">

        <div class="logo"><a href="/"></a></div>

        <nav class="clearfix">
        
            <div class="site-tools">
                <div class="social-hub">
                    <a href="#"><img src="/img/social_facebook.png" /></a>
                    <a href="#"><img src="/img/social_twiter.png" /></a>
                    <a href="#"><img src="/img/social_gplus.png" /></a>
                    <a href="#"><img src="/img/social_youtube.png" /></a>
                </div>
                <div class="search-hub"><input type="text" placeholder="Search" class="search-input" /></div>
                <div class="langs-hub">
                    <a href=""><img src="/img/languages.png" /></a>
                </div>
            </div>

            <ul class="menu">
                <li class="ml1"><a href="/">ANA SAYFA</a></li>
                <li class="ml2"><a href="#">KURUMSAL</a></li>
                <li class="ml3"><a href="#">ÜRETİM</a></li>
                <li class="ml4"><a href="#">SATIŞ & PAZARLAMA</a></li>
                <li class="ml5"><a href="#">HABERLER</a></li>
                <li class="ml6"><a href="#">İK</a></li>
                <li class="ml7"><a href="#">İLETİŞİM</a></li>
            </ul>
        </nav>
    </header>
</div>

        