<div class="header-container">
    <header class="wrapper clearfix">

        <div class="logo"><a href="/"></a></div>

        <nav class="clearfix">
        
            <div class="site-tools">
                <span><img src="/img/social_temp.png" /></span>
                <span><input type="text" placeholder="Search" class="search-input" /></span>
                <span>
                    <a href=""><img src="/img/languages.png" /></a>
                </span>
            </div>

            <ul class="menu">
                <!--li class="ml1"><a href="/">ANA SAYFA</a></li>
                <li class="ml2"><a href="#">KURUMSAL</a></li>
                <li class="ml3"><a href="#">ÜRETİM</a></li>
                <li class="ml4"><a href="#">SATIŞ & PAZARLAMA</a></li>
                <li class="ml5"><a href="#">HABERLER</a></li>
                <li class="ml6"><a href="#">İK</a></li>
                <li class="ml7"><a href="#">İLETİŞİM</a></li-->
            </ul>
        </nav>
    </header>
</div>

        