<div class="header-container">
    <header class="wrapper clearfix">

        <div class="logo"><a href="/"></a></div>

        <nav class="clearfix">

            <div class="site-tools">
                <div class="langs-hub">
                    <a href="/tr" style="margin-right: -4px;"><img src="/img/language_tr.png" /></a>
                    <a href="/en"><img src="/img/language_en.png" /></a>
                </div>
            </div>

            {% include 'partial/menu.twig' %}
        </nav>
    </header>
</div>
        