<div class="header-container">
    <header class="wrapper clearfix">

        <div class="logo"><a href="/"></a></div>

        <nav class="clearfix">

            <div class="site-tools">
                <div class="langs-hub">
                    <a class="lang-holder{% if lang == 'tr' %} sel{% endif %}" href="/tr">
                        <span>TR</span>
                    </a>
                    <a class="lang-holder{% if lang == 'en' %} sel{% endif %}" href="/en">
                        <span >EN</span>
                    </a>
                </div>
            </div>

            {% include 'partial/menu.twig' %}
        </nav>
    </header>
</div>
