<ul class="menu">
                <li class="ml1"><a href="/">{{ T.menu_mainpage }}</a></li>

                {% for i in 0..5 %}
                    <li class="ml{{ i+2 }}{% if menu_id == menu[i].id %} active{% endif %}"><a href="{{ menu[i].link }}">{{ menu[i].name }}</a></li>
                {% endfor %}
            </ul>