<div class="right-col ebulten">
                <div class="ebulten-inner">
                    <h4 class="ebulten-title">{{ T.ebulten_title }}</h4>
                    <div class="ebulten-text">{{ T.ebulten_text }}</div>
                    <input type="email" class="ebulten-input" placeholder="{{ T.ebulten_email }}" />
                    <a class="ebulten-btn" href="">{{ T.be_member }}</a>
                </div>
            </div>