<div class="right-col video-col">
    <a class="fancybox" href="https://www.youtube.com/watch?v=j870Xsbrd9w">
        <img src="/img/video_preview.jpg" />
        <span class="video-title">{{ T.video_title }}</span>
    </a>
</div>