{% extends "layout/login.layout.twig" %}


{% block content %}
<form id="slick-login">
<label for="username">Kullanıcı Adı</label><input type="text" name="username" class="placeholder" placeholder="kullanıcı">
<label for="password">Şifre</label><input type="password" name="password" class="placeholder" placeholder="şifre">
<input type="submit" id="login_btn" value="Giriş Yap">

<div id="login_msg" style="color: #d99; margin-top: 20px;">{{ flash.error }}</div>
</form>
{% endblock %}